*{
	margin:0;
	padding:0;
}
.spisok{
	list-style:none;
	margin-right:63px ;
}
.container{
	max-width:1200px;
	margin:0 auto;
}
.container__header{
 display:flex;
 justify-content: center;
 align-items: center;

}
.header__list{
text-decoration: none;
display: flex ;
}
.header__a{
	text-decoration: none;
	color: #E4E4E4;

font-family: Montserrat Alternates;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.shapka{
	background: #000;
	color: #FFF;
	padding: 36px 0px;

}
.header__title{

	font-family: Montserrat Alternates;
font-size: 27px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-right:45px ;
}
.spisok:first-child 
a {
	color: #00C4F0;
}

/* стили 1 раздела */


.container__hb{
	display:flex;


	justify-content: space-between;
	align-items: center;
	

}
.hb__text{
color: #E4E4E4;

font-family: "Press Start 2P";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal; 
max-width: 453px;
margin: 0;
padding: 30px;
}
.container__hb{
	background: #2C2C2C;

}
.hero__block{
	background: #2C2C2C;
	padding: 66px 0px;

}
.hb__img{

	max-width: 442px;
height: 364px;
}
.hb__btn{
	border-radius: 6px;
background:  linear-gradient(87deg, #E2A300 4.47%, #E29500 95.53%);
box-shadow: 0px 0px 13px 5px rgba(226, 158, 0, 0.48);
color: #000;

font-family: Montserrat Subrayada;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 13px 20px;
border:none ;
}
.hb__title{

	color: #E4E4E4;

font-family: "Press Start 2P";
font-size: 72px;
font-style: normal;
font-weight: 400;
line-height: normal;
max-width: 553px;


}
.hb__title{ 
margin:0;
padding:30px }
/* 2 секция */
.title__about{
color: #E4E4E4;
font-family: "Press Start 2P";
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
margin: 0px;
padding: 70px 70px;
}
.about{


	background: #555;
}
.full{
	background: #00C4F0;
	width: 356px;
height: 10px;
}
.bar{

	background: #2C2C2C;
	height: 100%;
	width: 70%;
}
.list__about{
padding:0px;
  margin: 0px;
	list-style:none;

}
.skill__title{
	color: #E4E4E4;
font-family: "Press Start 2P";
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.sub__title{
	color: #E4E4E4;
font-family: Montserrat Alternates;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.image__about__main{
border-radius: 575px;
border: 67px solid #00C4F0;
box-shadow: 0px 0px 152px 0px rgba(0, 196, 240, 0.42);
}
.content__about{

	display:flex;
}
.right__about{
	position: relative;
	justify-items: space-between;
	align-items: ;
	margin: 100px;
}
.image__about1{
	position: absolute;
	top: 95px;
	left: 0px;
}
.image__about2{
	position: absolute;
	left: 100px;
	bottom: 0px;
}
.image__about3{
	position: absolute;
	right: 0px;
	top: 95px;
}
.image__about4{
	position: absolute;
	right: 0px;
	bottom: 100px;

}
.content__about{
	align-items: center;
	justify-content: space-around;
}
.video{
	background: #2C2C2C;
}
.video__title{
	color: #E4E4E4;

font-family:"press Start 2P";
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;

text-align: center;
margin-bottom:51px;
}
.video__video{

width:100%;
height: 561.248px;
border:49px solid #000000A6 ;
border-radius: 29px;
box-sizing: border-box;
box-shadow
}

.container_video{
padding:70px 0px 94px ;


}
.gallery{
	background:#555;
	padding:74px 0px 56px;
	width: 100%;
    height: 1009px;
}
.gallery__title{


	color: #E4E4E4;
font-family: "Press Start 2P";
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height:normal;
text-align:center;
margin-bottom:59px;
}
.gallery__list{
	display:flex;
	flex-wrap:wrap;

}
.gallery__item{
width:50%;
height:392px;

}
.gallery__img{
	width:100%;
	height:100%;
}
.footer{


	background: #000;
}
.footer__title{

	color: #E4E4E4;
font-family: Montserrat;
font-size: 30px;
font-style: normal;
font-weight: 400px;
line-height: normal;

}
.footer__text{
width: 297.225px;
	color: #FFF;
font-family: "Montserrat Alternates";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 164.063%; /* 26.25px */
}
.footer__list{
display: flex;
list-style:none;

}
.container__footer{

padding:50px 0 52px;
display:flex;
justify-content:space-between;
}